
body,
*::after,
*::before {
  display: block;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, .3);
  position: absolute;
  width: 232px;
  height: 285px;
  left: calc(50vw - 125px);
  top: 100px;

  .screen {
    text-align: right;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;

    button {
      float: left;
      border-radius: 50%;
      border: none;
    }
  }

  .btn {
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    border: darkblue;
    min-width: 50px;
    min-height: 50px;
    margin: 4px;
  }
}
